.manageBack{
    background: url("../assets/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.manageMain{
    width: 90%;
    background-color: whitesmoke;
    margin: 20px auto;
    text-align: center;
}

.addBook{
    margin-left: 460px;
    float: left;
}

.addBookSubmit{
    margin-left: 60px;
    float: left;
}

.deleteBook{
    margin-bottom: 20px;
}

.clearFloat{
    clear:both;
}

.manageBack input {
    font: 16px Arial;
    width: 125px;
}

.manageBack td {
    border-top: 1px solid black;
    cursor: cell;
    padding: 5px;
}

.manageBack th {
    cursor: pointer;
    padding: 5px;
}

.manageBack table {
    border: 1px solid black;
    margin: 20px;
}

.manageBack .toolbar {
    margin-left: 20px;
}

.manageBack .toolbar a, .toolbar button { /* thanks css3buttongenerator.com! */
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
    margin-right: 5px;
}

.manageBack .toolbar a:hover, .toolbar button:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
